<mat-toolbar class="navbar" style="min-height: 80px !important; height: 80px !important;">
  <button mat-icon-button color="primary" >
    <mat-icon>forum</mat-icon>
  </button>
  <span class="content">Chat-App</span>
  <span class="space-between"></span>
  <button mat-raised-button routerLink="/signup" color="primary" *ngIf="signupRoute">
    <mat-icon>account_circle</mat-icon> &nbsp;<span>SignUp</span>
  </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button routerLink="/login" color="primary" *ngIf="signupRoute">
    <mat-icon>account_circle</mat-icon> Login
  </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button routerLink="/login" color="primary" *ngIf="signupRoute" (click)="authService.logout()">
    <mat-icon>account_circle</mat-icon> &nbsp;<span>Logout</span>
  </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
</mat-toolbar>
<router-outlet></router-outlet>