<br>
<form [formGroup]="userForm" (ngSubmit)="signup()">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card fxFlex="100">
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-title>
                    <h3 style="color: rgb(22, 3, 189)">Sign-up</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column">
                <mat-form-field>
                    <input type="email" matInput placeholder="Enter your email" formControlName="email" required>
                </mat-form-field>

                <mat-form-field>
                    <input type="password" matInput placeholder="Enter your password" formControlName="password" required>
                </mat-form-field>

                <mat-form-field>
                    <input type="password" matInput placeholder="Confirm your password" formControlName="confirmPassword" required>
                    <mat-error *ngIf="userForm.controls.confirmPassword.errors">Password doesn't match!</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input type="text" matInput placeholder="Enter your username" formControlName="displayName" required>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">
                    <span>Register</span>&nbsp;
                    <mat-icon>arrow_right_alt</mat-icon>
                </button>
                <br>
            </mat-card-content>
        </mat-card>
    </div>
</form>